* {
    box-sizing: border-box;  
}
.main-body {
    background-image: url("wallpaperflare.com_wallpaper\ \(1\).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0px;
}

.main-title {
    margin-top:3rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 4rem;
    color:white;
    text-align: center;
}

@media (min-width:32.625rem) {
    .main-title {
    margin-top:3rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem;
    color:white;
    text-align: center;
    }
}

.Countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.sec-div {
    font-family: 'Handjet', cursive;
    color: white;
    font-size: 5rem;
    font-weight: bolder;
    margin: 0rem 1.5rem;
    text-align: center;
}





